.m-notes {
	position: relative;
}

.m-notes > .m-note {
	background: #CCC;
	position: absolute;
	transition: left 0.4s ease, top 0.4s ease;
	z-index: 1;
}

.drag-handle {
	cursor: move;
}

.m-note.ui-draggable-dragging {
	transition: none;
}

.m-notes > .ss-placeholder-child {
	border: 1px dashed #999;
	border-radius: 4px;
	position: absolute;
	transition: left 0.4s ease, top 0.4s ease;
	width: 290px;
	z-index: 0;
}

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */

}


@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
	html {
		font-size: 32px;
	}
}
